

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://img.freepik.com/premium-photo/3d-rendering-white-abstract-geometric-pattern_344726-140.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: scroll;
}

.screen{
  width: 70%;
  padding: 13px;
  font-size: 20px;
}
.mainbtn{
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-top: 1%;
}
.btn{
  padding: 5px 9px;
  border: 2px solid black;
  border-radius: 10px;
}

.green{
  background-color: green;
  color: white;
}
.red{
  background-color: red;
  color: white;
}
.blue{
  background-color: blue;
  color: white;
}
.margintop{
 margin-top: 20px;
}